body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.block {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease;
}

.block:hover {
    transform: translateY(-5px);
}

.block a {
    text-decoration: none;
    color: inherit;
}

.emoji {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

.text .title {
    font-size: 20px;
    font-weight: 700;
}

.text .subtext {
    font-size: 16px;
    color: #888;
    display: block;
    margin-top: 5px;
}

.note {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.note:hover {
    transform: scale(1.1);
}

.note a {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none; /* Remove underline by default */
    font-weight: bold; /* Make the text bold */
    color: transparent;
}

.note a:hover {
    text-decoration: underline;
    color: #b700ff;
}
